:root {
  --primary-color: #00aeef;
  --second-color: #0095ce;
  --shadow-primary-color: #00aeefb2;
  --text-color: #222222;
  --secondary-text-color: #b0b0b0;
  --error-color: #ff6b6b;
  --border-color: #bdbdbd;
  --font-family: "Cairo", sans-serif;
  --tail-text-color: #000000b2;
  --text-color-2: #454545;
  --icons-color: #888888;
  --colorrrrr: #666;
  --gray-border: #999999;
  --white-color: #ffffff;
  --dark-text: #333333;
  --placeholder-color: #aaaaaa;
  --danger-color: #dc3545;
  --danger-hover: #c82333;
  --primary-hover: #0099cc;
  
  /* Order Status Colors */
  --awaiting-approval-bg: #ffdcdc;
  --awaiting-approval-color: #ff0000;
  --awaiting-approval-border: #ff0000;
  
  --processing-bg: #fef9c3;
  --processing-color: #a16207;
  --processing-border: #facc15;
  
  --searching-courier-bg: #e0f7fd;
  --searching-courier-color: var(--primary-color);
  --searching-courier-border: var(--primary-color);
  
  --preparing-bg: #dbeafe;
  --preparing-color: #1e40af;
  --preparing-border: #93c5fd;
  
  --in-transit-bg: #fff7ed;
  --in-transit-color: #c2410c;
  --in-transit-border: #f97316;
  
  --rejected-bg: #ffe5e5;
  --rejected-color: #b71c1c;
  --rejected-border: #d32f2f;
  
  --canceled-by-customer-bg: #fce7f3;
  --canceled-by-customer-color: #9d174d;
  --canceled-by-customer-border: #9d174d;
  
  --delivered-bg: #e6f4ea;
  --delivered-color: #1f6f3b;
  --delivered-border: #38c172;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  direction: rtl;
  height: 100%;
}

.logo {
  width: 140px;
}
.main-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
}
.main-desc {
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  color: var(--secondary-text-color);
  margin: 18px 0 35px 0;
}
.input-group {
  position: relative;
  margin-top: 25px;
}

.input-group .input {
  width: 93%;
  padding: 18px;
  font-size: 16px;
  border: 1.5px solid var(--border-color);
  border-radius: 12px;
  outline: none;
  transition: border-color 0.4s ease, box-shadow 0.4s ease;
  background-color: white;
  direction: rtl;
}

.input.input-success {
  border-color: var(--primary-color);
  animation: borderFadeIn 0.4s ease-in;
}

.input-group label {
  position: absolute;
  right: 16px;
  top: 12px;
  background-color: #ffffff;
  padding: 0 6px;
  font-size: 13px;
  color: var(--label-color);
  pointer-events: none;
  transition: 0.17s ease all;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: -10px;
  right: 12px;
  font-size: 13px;
  color: var(--label-color);
  font-weight: bold;
}
.input-title {
  font-size: 15px;
  color: var(--label-color);
  font-weight: bold;
  text-align: right;
}
.valid-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%) scale(0.9);
  color: var(--primary-color);
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.input-success ~ .valid-icon {
  opacity: 1;
  animation: pop-in 0.4s ease-out;
  transform: translateY(-50%) scale(1.1);
}

@keyframes pop-in {
  0% {
    transform: translateY(-50%) scale(0.4);
    opacity: 0;
  }
  60% {
    transform: translateY(-50%) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  padding-left: 40px;
}

.toggle-password {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--border-color);
  font-size: 1.1rem;
  height: 40px;
  display: flex;
  align-items: center;
}

.toggle-password i {
  font-size: 20px;
  transition: transform 0.4s ease, opacity 0.3s ease;
}

.toggle-password:hover i {
  transform: scale(1.15);
  opacity: 0.8;
}

.input-error {
  border-color: var(--error-color);
}

.error {
  color: var(--error-color);
  font-size: 13px;
  text-align: right;
  margin-top: 5px;
}

.forgot-password {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  color: var(--primary-color);
  display: block;
  text-align: left;
  margin-bottom: 10px;
  text-decoration: none;
}

.login-button {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  font-family: var(--font-family);
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: var(--second-color);
}
