.code-inputs {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.code-box {
  width: 100%;
  height: 72px;
  font-size: 24px;
  text-align: center;
  border: 2px solid var(--border-color);
  border-radius: 12px;
  outline: none;
  transition: border-color 0.3s ease;
}

.code-box:focus {
  border-color: var(--primary-color);
}
.resend-text {
  margin-top: 20px;
  font-size: 16px;
  color: var(--tail-text-color);
  font-weight: 400;
  line-height: 125%;
}

.resend-link {
  color: var(--shadow-primary-color);
  cursor: pointer;
  font-weight: 900;
  font-size: 16px;
  line-height: 125%;
  text-decoration: none;
}

@media (max-width: 900px) and (min-width: 600px) {
  .code-box {
    height: 45px;
  }
}
