.header {
  width: 100%;
  background-color: white;
  padding: 20px 20px;
  box-shadow: -8px 4px 10px #00aeef40;
  direction: rtl; /* هذا يجعل المحتوى يبدأ من اليمين إلى اليسار */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-end; /* لتثبيت المحتوى في بداية السطر (اليمين في rtl) */
  padding-left: 40px;
}

.header-content i {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  font-size: 35px;
}

.company-name {
  font-weight: bold;
  color: #333;
  font-size: 16px;
}
