.neworder-card {
  margin-bottom: 20px;
  padding: 15px;
  padding-bottom: 40px;
}
.card-row-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.red-value-order {
  font-weight: 700;
}
