/* styles/Sidebar.css */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 240px;
  padding: 15px;
  z-index: 100;
  background: white;
  overflow: hidden;
  box-shadow: -8px 4px 10px #00aeef40;
  transition: width 0.3s;
}

.sidebar.sidebar-collapsed {
  width: 70px;
  min-width: 70px;
  padding: 15px 5px;
}

.sidebar.sidebar-collapsed .sidebar-header {
  flex-direction: column;
  align-items: center;
}

.sidebar.sidebar-collapsed .logo {
  display: none;
}

.sidebar.sidebar-collapsed .title-dash {
  display: none;
}

.sidebar.sidebar-collapsed .sidebar-menu li {
  justify-content: center;
  padding: 12px 0;
}

.sidebar.sidebar-collapsed .sidebar-menu li .side-icons {
  margin-left: 0;
}

.sidebar.sidebar-collapsed .sidebar-menu li {
  font-size: 0;
}

.sidebar.sidebar-collapsed .sidebar-menu li .side-icons {
  font-size: 22px;
}

.sidebar.sidebar-collapsed .sidebar-menu li.active {
  border-radius: 12px;
}

.sidebar.sidebar-collapsed .sidebar-header .close-icons {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.sidebar .sidebar-header {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.sidebar .logo {
  width: 50px;
  height: auto;
}

.head-dash {
  display: flex;
  align-items: center;
}

.title-dash {
  margin: 0;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 15.2px;
  line-height: 150%;
  color: var(--text-color-2);
  margin-left: 50px;
}

.close-icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-2);
}

.sidebar .sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  height: calc(100vh - 120px); /* ارتفاع الشاشة ناقص الهيدر */
  overflow: hidden;
}

.sidebar .sidebar-menu li {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  cursor: pointer;
  font-size: 15px;
  color: var(--icons-color);
  line-height: 150%;
  font-weight: 700;
  margin-bottom: 10px;
  border-radius: 12px;
  transition: background-color 0.4s ease, color 0.4s ease, transform 0.3s ease;
}

.sidebar .sidebar-menu li:hover {
  background-color: #ecf8fd;
}

.side-icons {
  color: var(--icons-color);
  transition: color 0.4s ease;
}

.sidebar .sidebar-menu li svg {
  margin-left: 10px;
  font-size: 16px;
}

.sidebar .sidebar-menu li.active {
  background: #e6f6fe;
  color: var(--primary-color);
  border-radius: 12px;
  position: relative;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.sidebar .sidebar-menu li.active .side-icons {
  color: var(--primary-color);
  transition: color 0.4s ease;
}
