/* styles/Sidebar.css */
.sidebar {
  position: relative;
  height: auto;
  width: 240px;
  padding: 15px;
  z-index: 100;
  background: white;
  overflow: hidden;
  box-shadow: -8px 4px 10px #00aeef40;
  transition: width 0.3s;
}

.sidebar.sidebar-collapsed {
  width: 70px;
  min-width: 70px;
  padding: 15px 5px;
}

.sidebar.sidebar-collapsed .sidebar-header {
  flex-direction: column;
  align-items: center;
}

.sidebar.sidebar-collapsed .logo {
  display: none;
}

.sidebar.sidebar-collapsed .title-dash {
  display: none;
}

.sidebar.sidebar-collapsed .sidebar-menu li {
  justify-content: center;
  padding: 12px 0;
}

.sidebar.sidebar-collapsed .sidebar-menu li .side-icons {
  margin-left: 0;
}

.sidebar.sidebar-collapsed .sidebar-menu li {
  font-size: 0;
}

.sidebar.sidebar-collapsed .sidebar-menu li .side-icons {
  font-size: 22px;
}

.sidebar.sidebar-collapsed .sidebar-menu li.active {
  border-radius: 12px;
}

.sidebar.sidebar-collapsed .sidebar-header .close-icons {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.sidebar .sidebar-header {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.sidebar .logo {
  width: 50px;
  height: auto;
}
.head-dash {
  display: flex;
  align-items: center;
}
.title-dash {
  margin: 0;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 15.2px;
  line-height: 150%;
  color: var(--text-color-2);
  margin-left: 50px;
}
.close-icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-2);
}

.sidebar .sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar .sidebar-menu li {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 15px;
  color: var(--icons-color);
  line-height: 150%;
  font-weight: 700;
  margin-bottom: 10px;
}
.side-icons {
  color: var(--icons-color);
}

.sidebar .sidebar-menu li svg {
  margin-left: 10px;
  font-size: 16px;
}

.sidebar .sidebar-menu li.active {
  background: #e6f6fe;
  color: var(--primary-color);
  border-radius: 12px;
  position: relative;
}
.sidebar .sidebar-menu li.active .side-icons {
  color: var(--primary-color);
}
